.unity-text-element {
    -unity-font-definition: url("project://database/Assets/UI%20Toolkit/PixelPurl.ttf?fileID=12800000&guid=30d6b6b6e82f09e47bd4242c7bfe1cac&type=3#PixelPurl");
    color: rgb(225, 230, 234);
    text-shadow: 1px 1px 0 rgb(31, 23, 20);
}

.unity-button {
    border-left-color: rgb(78, 90, 109);
    border-right-color: rgb(78, 90, 109);
    border-top-color: rgb(78, 90, 109);
    border-bottom-color: rgb(78, 90, 109);
    background-color: rgb(93, 141, 162);
}

.h2 {
    font-size: 28px;
    -unity-text-align: upper-center;
    margin-top: 7px;
    margin-right: 7px;
    margin-bottom: 7px;
    margin-left: 7px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.h3 {
    font-size: 21px;
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.p {
    padding-left: 16px;
}

.p .unity-text-element {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.hud .unity-text-element {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}
